<div class="mainContainer">
    <div class="signupimage">
      <img src="https://source.unsplash.com/180x1080/?painting" alt="" />
    </div>
    <div class="main_content">
      <div class="signupText">
        <h3>Sign In</h3>
        <p>By continuing, you are setting up a Reddit account and agree to our User Agreement and Privacy Policy.</p>
      </div>
      <div class="Sign_upSection">
        <div>
            <input class="username" type="text" placeholder="NAME" />
          </div>
        <div>
          <input class="username_signup" type="email" placeholder="EMAIl" />
        </div>
        <div>
          <button class="button_SIGNUP">Sign Up</button>
        </div>
      </div>
    </div>
  </div>